*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: hsl(185, 75%, 39%);
  font-family: "Kumbh Sans", sans-serif;
  overflow: hidden;
  height: 100vh;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
}

/* Attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Background circles */

.bg-img {
  width: 700px;
  position: absolute;
  opacity: 0.5;
}

.top-img {
  align-self: flex-start;
  justify-self: flex-start;
  transform: translateX(-73%) translateY(-55%);
}

.bottom-img {
  align-self: flex-end;
  justify-self: flex-end;
  transform: translateX(71%) translateY(45%);
}

/* Card */

.card {
  align-self: center;
  justify-self: center;
  background: white;
  color: hsl(227, 10%, 46%);
  margin: auto;
  text-align: center;
  font-size: 14px;
  border-radius: 20px;
  overflow: hidden;
  width: 90%;
  max-width: 350px;
  z-index: 1;
}

.card h3 {
  font-size: 1.125rem;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

/* Card main */

.card__person__img {
  border: 5px solid #fff;
  border-radius: 50%;
  transform: translateY(-55px);
  margin-bottom: -55px;
}

.person-age {
  color: hsl(227, 10%, 46%);
  font-weight: 400;
  margin-left: 0.4em;
}

.person-city {
  margin-top: 1em;
}

/* Card bottom */

.card__bottom::before {
  display: block;
  content: "";
  width: 100%;
  border: 1px solid hsl(0, 0%, 59%);
  opacity: 0.2;
}

.card__bottom {
  align-self: center;
}

.card__bottom .container {
  justify-content: space-between;
}

.stats {
  padding: 0 1em;
}

.stats p {
  margin-top: 10px;
  font-size: 12px;
  letter-spacing: 1px;
}

/* Container */

.container {
  margin: 0 auto;
  padding: 2em;
}

.row {
  display: flex;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .bg-img {
    opacity: 1;
  }
  .top-img {
    transform: translateY(-50%);
  }

  .bottom-img {
    transform: translateX(10%) translateY(55%);
  }
}
