*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

/* Typography */
h1 {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  font-size: 2.5em;
}

.btn {
  display: inline-block;
  padding: 1em 2em;
  border-radius: 50px;
  text-decoration: none;
  margin-bottom: 1em;
}

/* Layout */
.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  width: 80%;
  max-width: 500px;
}

.container > * {
  width: 100%;
}

.col {
  padding: 3.25em;
  width: 100%;
  max-height: 100%;
}

/* Section */
.section--first .btn {
  color: hsl(31, 77%, 52%);
}

.section--second .btn {
  color: hsl(184, 100%, 22%);
}

.section--third .btn {
  color: hsl(179, 100%, 13%);
}

.btn {
  background: hsl(0, 0%, 95%);
}

.btn:focus,
.btn:hover {
  outline: 2px solid white;
  color: white;
}

.section--first,
.section--first .btn:hover {
  background: hsl(31, 77%, 52%);
}

.section--second,
.section--second .btn:hover {
  background: hsl(184, 100%, 22%);
}

.section--third,
.section--third .btn:hover {
  background: hsl(179, 100%, 13%);
}

.section__title {
  color: hsl(0, 0%, 95%);
}

.section__text {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 2;
  min-height: 125px;
  width: 90%;
  max-width: 450px;
}

@media screen and (min-width: 1100px) {
  .container {
    display: flex;
    flex-direction: row;
    width: 60%;
    max-width: none;
    border-radius: 10px;
  }

  .container > * {
    width: 100%;
  }

  .col {
    padding: 3.25em;
    width: 100%;
    max-height: 100%;
  }
}
