:root {
  --clr-accent-light: hsl(176, 68%, 64%);
  --clr-accent-dark: hsl(198, 60%, 50%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: hsl(0, 0%, 100%);
  text-align: center;
  background: hsl(218, 28%, 13%);
}

img {
  width: 100%;
}

.logo {
  max-width: 100px;
  align-self: center;
  justify-self: center;
}

/* Typography */
h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.header {
  padding: 1.75rem 0;
}
.nav {
  display: flex;
}

.nav__list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav__link {
  font-family: "Raleway", sans-serif;
  color: rgb(196, 196, 196);
  text-decoration: none;
  font-weight: 400;
}

.section__title {
  font-size: 1.55rem;
  line-height: 1.5;
}

.section__text {
  line-height: 1.5;
  width: 90%;
  margin: 0 auto;
  color: rgb(196, 196, 196);
}

.btn {
  display: inline-block;
  margin-top: 1.75rem;
  color: white;
  text-decoration: none;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    var(--clr-accent-light),
    var(--clr-accent-dark)
  );
  padding: 1em 5em;
  border-radius: 100px;
}

input {
  display: inline-block;
  margin-top: 1em;
  border-radius: 100px;
  padding: 1em 5em;
}

/* Flexbox */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.header > .container {
  flex-direction: row;
}

.col {
  width: 100%;
}

.col--testimonial {
  background: hsl(219, 30%, 18%);
  margin: 1em auto;
  padding: 1.5em;
  border-radius: 5px;
}

/* Layout */

.intro__img {
  margin: 1.25rem auto;
  padding-bottom: 5rem;
  width: 95%;
}

.intro {
  background: url(images/bg-curvy-mobile.svg) no-repeat;
  background-size: cover cover;
  background-position: bottom;
  background-color: hsl(217, 28%, 15%);
}

.main {
  background: hsl(218, 28%, 13%);
}

.section--one__feature {
  margin-bottom: 4rem;
}

.section--zero {
  transform: translateY(-40%);
  margin: 0 auto;
  padding-top: 1.75rem;
}

.feature__img {
  max-width: 50px;
}

.section--two {
  text-align: left;
}

.section__title--h2 {
  font-size: 1.15rem;
}

.section--two .section__text {
  margin: 0;
  width: initial;
}

.section__link {
  text-decoration: none;
  display: inline-block;
  margin-top: 1.5em;
  color: hsl(176, 68%, 64%);
  padding-bottom: 0.75em;
  border-bottom: 2px solid hsl(176, 68%, 64%);
}

.section__link__icon {
  margin-left: 0.5em;
}

.section--three {
  margin: 10rem auto;
  text-align: left;
  color: #cacdd2;
  max-width: 500px;
  font-size: 0.9em;
}

.section--three__img {
  width: 100%;
  max-width: 25px;
  transform: translateY(12px);
  margin-left: 5px;
}

.testimonial__text {
  line-height: 2;
}

.testimonial__author {
  margin: 1em 0;
  margin-top: 2em;
  flex-direction: row;
  gap: 1em;
}

.col--author-info {
  width: 100%;
}

.col--author-profile {
  width: auto;
  align-self: center;
}

.author__img {
  max-width: 45px;
  border-radius: 100px;
}

.author__name,
.author__position {
  margin: 0;
}

.author__name {
  display: inline-block;
  color: #fff;
  margin-bottom: 0.5em;
}

.section--sign-up {
  background: hsl(217, 28%, 15%);
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 2em;
  transform: translateY(12em);
  margin-top: -12em;
}

.section--sign-up > .section__text {
  width: 100%;
  margin-bottom: 1em;
}

.footer {
  background: hsl(216, 53%, 9%);
  margin: 0 auto;
  padding-top: 15em;
  text-align: left;
  line-height: 2;
}

.footer .logo {
  align-self: flex-start;
  max-width: 175px;
  padding: 2em 1em;
}

.col--location {
  display: flex;
  align-items: baseline;
}

.footer i {
  margin-right: 1em;
}

.footer__text {
  display: inline-block;
  margin: 0;
}

.col__list {
  margin-bottom: 2em;
}

.list__item {
  margin-bottom: 1em;
}

.social-media {
  text-align: center;
  padding: 2em;
}

.social-media i {
  width: 2rem;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid #fff;
  border-radius: 50px;
}

@media screen and (min-width: 900px) {
  .intro {
    background: url(images/bg-curvy-desktop.svg) no-repeat;
    background-size: cover cover;
    background-position: bottom;
    background-color: hsl(217, 28%, 15%);
  }

  .intro__img {
    width: 50%;
  }

  .container {
    flex: column wrap;
  }

  .row {
    flex-direction: row;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
  }

  .section--one__feature {
    align-self: baseline;
  }

  .feature__text {
    max-width: 375px;
    margin: 0 auto;
  }
}
