*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: hsl(204, 43%, 93%);
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* Typography */

h2,
h3,
p {
  margin: 0;
}

p {
}

h2 {
  font-size: 20px;
  margin-bottom: 1.125em;
  font-weight: 700;
}

h3 {
  font-size: 16px;
}

.text--white {
  color: white;
}

.description {
  margin: 1em 0;
}

.description--top {
  color: hsl(218, 22%, 67%);
  line-height: 2em;
}

.description--mid {
  font-size: 16px;
}

.mid__text {
  display: flex;
  flex-direction: column;
}

.subtitle {
  color: hsl(71, 73%, 54%);
  font-size: 14px;
}

.subtitle--mid-text {
  color: hsl(204, 43%, 93%);
  font-weight: 400;
  font-size: 16px;
}

.price {
  color: white;
  font-size: 32px;
  font-weight: bold;
  margin-right: 0.75rem;
}

.title--color {
  color: hsl(179, 62%, 43%);
}

.list {
  color: hsl(204, 43%, 93%);
}

a {
  display: block;
}

a:hover {
  color: #fff;
  opacity: 0.7;
}

.btn {
  background: hsl(71, 73%, 54%);
  margin-top: 1em;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(110, 110, 110, 0.4);
}

/* -------- */

.main {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 300px;
  margin: auto;
  box-shadow: 2px 2px 30px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 100px;
  border-radius: 5px;
  line-height: 1.5em;
  overflow: hidden;
}

.container {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.main__top {
  background: #fff;
}

.main__mid {
  background: hsl(179, 62%, 43%);
}

.main__bottom {
  background: rgba(74, 190, 189, 255);
}

@media only screen and (min-width: 1000px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: auto;

    max-width: 600px;
  }

  .main__top {
    grid-area: 1/1/3/3;
  }

  .main__mid,
  .main__bottom {
    padding: 2em;
  }
}
