// Colors
$clr-primary: hsl(238, 22%, 44%);
$clr-primary--dark: hsl(243, 87%, 12%);

$clr-secondary: hsl(224, 93%, 58%);
$clr-secondary--dark: hsl(170, 45%, 43%);

$clr-neutral: hsl(240, 75%, 98%);
$clr-neutral--gray: hsl(0, 0%, 75%);

// Fonts
$ff-primary: "Open Sans", sans-serif;
$ff-secondary: "Raleway", sans-serif;

// Font weights
$fw-regular: 400;
$fw-bold: 700;

$width-max: 1100px;

// Text color
$clr-text: #000;
$clr-btn-text: #fff;

// Border radius
$br-radius: 3px;
